@import "../mixins.scss";

.container-file-page {
  margin-top: 20px;
  @include flexCenterColumn;
  .container-creation-head {
    @include flexCenterRow;
    justify-content: space-between;
    padding: 0px 30px;
    background: $primary;
    width: 80%;
    color: $white;

    h2 {
      text-transform: uppercase;

      @include breakpoint(phone) {
        font-size: 15px;
      }
    }

    button {
      background: $white;
      border-radius: 5px;
      padding: 12px 15px;
      color: $primary;
      border: 1px solid $primary;
      transition: 0.2s ease-in-out;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background: $primary;
        color: $white;
        border: 1px solid $white;
      }

      @include breakpoint(phone) {
        margin: 7px 0px;
        padding: 7px 15px;
      }
    }
  }

  .container-title-carousel {
    padding: 0px 30px;
    width: 80%;

    .container-title {
      text-align: center;
      background: $primary;
      color: $white;
      width: 200px;
      padding: 0px;
      h3 {
        padding: 10px 0px;
      }

      @include breakpoint(phone) {
        width: 100%;
      }
    }

    .container-carousel {
      .slick-slide div {
        margin: 10px;
        @include breakpoint(tablet) {
          margin: 0px 15px 10px 15px;
        }
        @include breakpoint(phone) {
          margin: 0px 5px;
        }
      }

      .slick-next:before,
      .slick-prev:before {
        opacity: 1;
        color: $primary;
      }
      .card-carousel {
        height: auto;
        border-radius: 15px;
        background-color: $white;
        -webkit-box-shadow: 0px 10px 13px -8px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 10px 13px -8px rgba(0, 0, 0, 0.2);
        .content-img {
          @include flexCenterRow;
          width: 100%;
          height: 50%;
          overflow: hidden;
          padding: 0px;
          margin: 0px;

          img {
            width: 100%;
          }
        }

        .content-info {
          @include flexCenterRow;
          justify-content: space-evenly;
          padding: 0px;

          h4 {
            font-weight: 600;
          }
        }

        @include breakpoint(phone) {
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
