/// Variables
$mainColor: #5340a9;
$secondaryColor: #849bce;
$textColorWhite: #ffffff;
$textColorBlack: #000000;

p {
  margin: auto;
}

h3 {
  font-size: 2em;
  margin: auto;
}

.button-card-expert {
  background-color: $mainColor;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $textColorWhite;
  font-weight: 900;
  padding: 1.5em 1.5em;
  border-radius: 1em;
  margin-top: 35px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
.button-card-basic {
  background-color: $secondaryColor;
  border: none;
  display: flex;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  justify-content: center;
  align-items: center;
  color: $textColorWhite;
  font-weight: 900;
  padding: 1.5em 1.5em;
  border-radius: 1em;
  margin-top: 35px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.container-price {
  display: flex;
  margin-top: 35px;
}

.container-pricing-cards {
  display: flex;
  justify-content: space-evenly;
}

.euro {
  margin-bottom: 32px;
}
.container-part-1-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-part-1-expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-part-2-expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  border-top: solid 3px $mainColor;
}
.container-part-2-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  border-top: solid 3px $secondaryColor;
}

.container-part-2 p {
  margin-left: 15px;
}

.container-expert-price-card {
  border: solid 1px;
  height: 50vh;
  padding: 2em 4em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to top, $textColorWhite 95%, $mainColor 5%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-basic-price-card {
  border: solid 1px;
  height: 50vh;
  padding: 2em 4em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $textColorWhite;
  background: linear-gradient(to top, $textColorWhite 95%, $secondaryColor 5%);

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.executions-code {
  display: flex;
  margin-top: 35px;
}

.executions-code p {
  margin-left: 15px;
}

.price-card {
  font-size: 2.5em;
  font-weight: 900;
  margin: auto;
}

.purpleWave {
  z-index: -1;
  height: 30em;
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Media queries tablets */
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 40px;
  }

  .executions-code {
    margin-top: 25px;
  }
  .executions-code p {
    font-size: 20px;
  }
  .button-card {
    font-size: 20px;
    margin-top: 35px;
  }
  .container-pricing-cards {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  .container-pricing-page {
    display: block;
  }

  .container-part-2-expert {
    font-size: 25px;
    margin-top: 25px;
  }
  .container-part-2-basic {
    font-size: 25px;
    margin-top: 25px;
  }

  .container-basic-price-card {
    padding: 0;
    width: 65vw;
    height: 45vh;
  }
  .container-expert-price-card {
    padding: 0;
    width: 65vw;
    height: 45vh;
  }
}

/* Media queries smartphone */
@media screen and (max-width: 480px) {
  h3 {
    font-size: 30px;
  }

  .executions-code {
    margin-top: 14px;
  }
  .executions-code p {
    font-size: 15px;
  }
  .button-card-basic {
    font-size: 12px;
    margin-top: 18px;
    padding: 1em 1em;
  }
  .button-card-expert {
    font-size: 12px;
    margin-top: 18px;
    padding: 1em 1em;
  }

  .container-price {
    margin-top: 18px;
  }
  .container-pricing-cards {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  .container-pricing-page {
    display: block;
  }

  .container-part-2-expert {
    margin-top: 0;
    & p,
    svg {
      font-size: 14px;
    }
  }
  .container-part-2-basic {
    margin-top: 0;
    & p,
    svg {
      font-size: 14px;
    }
  }

  .container-basic-price-card {
    padding: 0 1em;
    width: 65vw;
    height: 45vh;
  }
  .container-expert-price-card {
    padding: 0 1em;
    width: 65vw;
    height: 45vh;
  }
}
