@import "mixins.scss";

.container-page-signup {
  transform: scaleX(1) !important;
  height: 100%;
  .container-card-form {
    transform: scaleX(1) !important;
  }
}
.container-page-signin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  height: 100%;
  background: url("../assets/img/illustration-signIn.png") left center no-repeat;
  transform: scaleX(-1);
  .container-card-form {
    transform: scaleX(-1);
    margin-right: 80px;
    width: 450px;
    background-color: #5340a9;
    border-radius: 15px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      margin: 0;
      text-transform: uppercase;
    }

    .details-text {
      max-width: 70%;
    }

    p {
      font-size: 14px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .container-input-firstName-lastName {
        display: flex;
        justify-content: space-between;

        input {
          width: 40%;
        }
      }
      input {
        margin: 14px 0;
        border-radius: 5px;
        background-color: #fff;
        border: none;
        padding: 15px 15px;
      }

      .error-input {
        align-self: flex-start;
        margin: 0px;
        padding: 3px 20px;
        border-radius: 5px;
        color: #d8000c;
        background-color: #fec2c2f5;
        height: auto;
      }

      button {
        align-self: flex-start;
        padding: 13px 25px;
        font-size: 16px;
        margin: 15px 0;
        border-radius: 5px;
        border: 1px solid #5340a9;
        background-color: #fff;
        color: #5340a9;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #5340a9;
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }

    .signup-details a {
      text-decoration: none;
      cursor: pointer;
      color: #849bce;
      transition: 0.2s ease-in-out;

      &:hover {
        color: #fff;
      }
    }

    span {
      font-size: 28px;
      margin-bottom: 5px;
    }
    .content-sso-signin {
      display: flex;
      align-items: center;

      button {
        width: 200px;
        text-align: center;
        padding: 12px 12px;
        font-size: 14px;
        margin: 15px 8px;
        border-radius: 999px;
        border: 1px solid #5340a9;
        background-color: #fff;
        color: #5340a9;
        font-weight: 500;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #5340a9;
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }
  }
}
@media (max-width: 1025px) {
  .container-page-signin {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: none;
    .container-card-form {
      width: 400px;
      margin-right: 0;
    }
  }
}
@media (max-width: 600px) {
  .container-page-signin {
    .container-card-form {
      margin: 0px 15px;
      h2 {
        font-size: 28px;
        margin: 0;
      }
      .details-text {
        max-width: 80%;
      }

      span {
        font-size: 23px;
      }
      .content-sso-signin {
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 400px) {
  .container-page-signin {
    .container-card-form {
      form {
        .container-input-firstName-lastName {
          display: flex;
          justify-content: space-between;

          input {
            width: 35%;
          }
        }
      }
    }
  }
}
