$primary: #5340a9;
$white: white;
$black: black;

body {
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 5vh;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
}

$breakpoints: (
  "tablet": 900px,
  "phone": 600px,
  "screen": 1024px,
);
