$primary: #5340a9;
$white: white;
$black: black;

body {
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 5vh;
  font-family: Arial, Helvetica, sans-serif;

  main {
    flex: 1;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

$breakpoints: (
  "tablet": "(min-width: 481px) and (max-width: 1024px)",
  "phone": "(min-width: 0px) and (max-width: 480px)",
  "screen": "(min-width: 1025px) and (max-width: 3400px)",
  "<screen": "(min-width: 0px) and (max-width:1020px)",
);

@mixin breakpoint($user-value) {
  $my-map: map-get($breakpoints, $user-value);
  @if $my-map {
    @media #{$my-map} {
      @content;
    }
  } @else {
    @error "oops pb !";
  }
}
//pour l'utiliser pour une tablette (bien penser à importer la mixin dans la page de style (@import "../(etc)/mixins.scss";):
//
//@include breakpoint(tablet) {
//  background-color: orange;
//    }
